.friend-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.friend-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.friend-action-button {
  background-color: #44455e;
  color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #4a4b61;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }
}
