@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [Inject]
    public required NavigationManager NavManager { get; set; }

    protected override void OnInitialized() {
        if (!HttpContext?.User.Identity?.IsAuthenticated ?? true) {
            if (NavManager.Uri.Contains("/access-denied") || 
                NavManager.Uri.Contains("/login") || 
                NavManager.Uri.Contains("/logout") || 
                NavManager.Uri.Contains("/register") || 
                NavManager.Uri.Contains("/intro")) {
                return;
            }
            NavManager.NavigateTo("/intro", true);
        }
    }
}

<div class="top-row">
    <a class="page-title" href="/">Run Tracker</a>
    <div class="nav-links">
        <a class="" href="/add">Add Run</a>
        <a class="" href="/plan">Plan</a>
        @if (HttpContext?.User.Identity?.IsAuthenticated ?? false) {
            <a class="" href="/logout">Logout</a>
        }
    </div>
</div>

<div class="page">
    <main>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>