@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [Inject]
    public required NavigationManager NavManager { get; set; }

    [Inject]
    public required ProtectedSessionStorage ProtectedSessionStorage { get; set; }

    private bool _isAuthenticated = false;

    private async Task<bool> IsAuthenticated() {
        var authToken = await ProtectedSessionStorage.GetAsync<string>("authToken");
        return authToken.Value is not null;
    }

    private bool OnAccountPages() {
        return NavManager.Uri.Contains("/access-denied") || 
                NavManager.Uri.Contains("/login") || 
                NavManager.Uri.Contains("/logout") || 
                NavManager.Uri.Contains("/register") || 
                NavManager.Uri.Contains("/intro");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (await IsAuthenticated()) {
            _isAuthenticated = true;
            StateHasChanged();
            return;
        }
        else if (OnAccountPages()) {
            _isAuthenticated = false;
            StateHasChanged();
            return;
        }
        else {
            NavManager.NavigateTo("/intro", true);
        }
    }
}

<div class="top-row">
    <a class="page-title" href="/">PaceMates</a>
    <div class="nav-links">
        @if (_isAuthenticated) {
            <a class="" href="/friends">Friends</a>
            <a class="" href="/plan">Plan</a>
            <a class="" href="/logout">Logout</a>
        }
    </div>
</div>

<div class="page">
    <main>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>