@page "/access-denied"

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">
            Access Denied
        </h1>
        <p>You are not authorized to access this resource.</p>
        <a href="/login" class="form-button">Go to Login</a>
    </div>
</div>
