@page "/login"
@using RunTracker.Models
@using RunTracker.Services
@inject NavigationManager NavManager

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">
            Login
        </h1>
        <EditForm class="account-form" FormName="LoginForm" OnSubmit="HandleLogin" Model="@UserAccount">
            <div class="account-form-group">
                <label for="email">Email</label>
                <InputText class="custom-input account" required @bind-Value="UserAccount.Email" placeholder="email"/>
            </div>
            <div class="account-form-group">
                <label for="password">Password</label>
                <InputText class="custom-input account" type="password" required @bind-Value="UserAccount.Password" placeholder="password"/>
            </div>
            <button type="submit" class="form-button">Login</button>
        </EditForm>
        <p class="account-form-text">Don't have an account? <a class="form-link"href="/register">Register</a></p>
    </div>
</div>


@code {
    [Inject]
    public required IAuthenticationService AuthenticationService { get; set; }

    [SupplyParameterFromForm]
    public UserAccount UserAccount { get; set; } = new UserAccount();

    public async Task HandleLogin() {
        var result = await AuthenticationService.Login(UserAccount.Email ?? "", UserAccount.Password ?? "");
        if (result.Success) {
            NavManager.NavigateTo("/");
        }
        else {
            Console.WriteLine(result.ErrorMessage);
        }
    }
}