@page "/logout"
@using Microsoft.AspNetCore.Authentication

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">
            Logout
        </h1>
        <p>You have been logged out.</p>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [Inject]
    public required NavigationManager NavManager { get; set; }

    protected override async Task OnInitializedAsync() {
        if (HttpContext?.User.Identity?.IsAuthenticated ?? false) {
            await HttpContext.SignOutAsync();
            NavManager.NavigateTo("/logout", true);
        }
    }
}