@page "/logout"
@using RunTracker.Services

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">
            Logout
        </h1>
        <p>You have been logged out.</p>
        <a class="form-button" href="/login">Login</a>
    </div>
</div>

@code {
    [Inject]
    public required NavigationManager NavManager { get; set; }

    [Inject]
    public required IAuthenticationService AuthenticationService { get; set; }

    protected override async Task OnInitializedAsync() {
        var result = await AuthenticationService.Logout();
        if (result.Success) {
            NavManager.NavigateTo("/login");
        }
        else {
            Console.WriteLine(result.ErrorMessage);
        }
    }
}