@page "/logout"
@using Microsoft.AspNetCore.Authentication

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">
            Logout
        </h1>
        <p>You have been logged out.</p>
        <a class="form-button" href="/login">Login</a>
    </div>
</div>

@code {
    [Inject]
    public required NavigationManager NavManager { get; set; }

    [Inject]
    public required ProtectedSessionStorage ProtectedSessionStorage { get; set; }

    protected override async Task OnInitializedAsync() {
        var authToken = await ProtectedSessionStorage.GetAsync<string>("authToken");
        if (authToken.Value is not null) {
            await ProtectedSessionStorage.DeleteAsync("authToken");
        }
    }
}