@page "/add"

<PageTitle>Add Run</PageTitle>

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">Add Run</h1>

        <EditForm OnSubmit="Submit" FormName="AddRun" Model="_newRun">
            <div class="form-elements">
                <div class="form-col">
                    <p class="col-header">Distance</p>
                    <label>Mileage:</label>
                    <InputNumber min="0" max="1000" class="custom-input" @bind-Value="_newRun!.Mileage"/>
                </div>
                <div class="form-col">
                    <p class="col-header">Duration</p>
                    <label>Hours: </label><InputNumber min="0" max="23" class="custom-input" @bind-Value="_newRun!.Duration!.Hours"/>
                    <label>Minutes: </label><InputNumber min="0" max="59" class="custom-input" @bind-Value="_newRun!.Duration!.Minutes"/>
                    <label>Seconds: </label><InputNumber min="0" max="59" class="custom-input" @bind-Value="_newRun!.Duration!.Seconds"/>
                </div>
                <div class="form-col">
                    <p class="col-header">Label</p>
                    <label>Date/Label:</label>
                    <InputDate class="custom-input" @bind-Value="_runDate"/>
                </div>
            </div>
            

            <button class="form-button" type="submit">Submit</button>
        </EditForm>
    </div>
</div>
