.confirm-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-button {
  margin: 0 auto;
}

.run-details {
  display: grid;
  grid-template-columns: auto auto auto auto;
  color: #d5d5d5;
}

.detail-header {
  font-weight: bold;
  margin-bottom: 0;
}

.detail {
  border-top: 1px solid #3b3d54;
}

.detail,
.detail-header {
  color: inherit;
  padding: 0.25em 1em;
}
