@page "/edit/{Id:int}"
@using RunTracker.Components.Forms
@rendermode InteractiveServer

<PageTitle>Edit Run</PageTitle>
<div class="page-content">
    <RunForm RunId="@Id"/>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
}