@page "/intro"

<div class="page-content">
    <div class="content-card">
        <h1 class="content-card-title">
            Welcome to PaceMates!
        </h1>
        <p class="content-card-text">
            Run Tracker is your personal running companion that helps you track, analyze, and improve your running journey. 
            Whether you're training for a marathon or just starting your running adventure, we provide the tools you need 
            to monitor your progress, set goals, and stay motivated.
        </p>

        <div class="form-elements">
            <a href="/login" class="form-button">Get Started</a>
        </div>
    </div>
</div>